<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookStore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
  <center>
    <div >
    <img src="https://static.vecteezy.com/system/resources/previews/027/740/016/non_2x/modern-pizza-logo-design-template-with-creative-time-concept-vector.jpg" alt="" width="300px">
</div>
  </center>
  <div class="d-flex flex-wrap m-5">
  <!-- 1 -->
    <div class="card shadow-sm p-3 mb-5 m-1 bg-body-tertiary rounded" style="width: 18rem;">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/15/75/1e/82/large-pizza.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <center>
          <h5 class="card-title">Brick Oven Pizza</h5>
          <p class="card-text">As the name suggests, a brick oven pizza is the one that’s cooked in a brick oven instead of a conventional oven powered by electricity.</p>
          <a href="./form" class="btn btn-primary">Order</a>
        </center>
        </div>
      </div>
      <!-- 2 -->
    <div class="card shadow-sm p-3 mb-5 m-1 bg-body-tertiary rounded" style="width: 18rem;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy3EWCGdDMVd4Y2hbXTiUNQ280IM-nFT3h9A&s" class="card-img-top" alt="...">
      <div class="card-body">
        <center>
        <h5 class="card-title">Italian Pizza</h5>
        <p class="card-text">An Italian pizza refers to the one that’s cooked in a very hot oven and features a thin crust and simple flavors. It is the most common type of pizza served in most places.</p>
        <a href="./form" class="btn btn-primary">Order</a>
      </center>
      </div>
    </div>
    <!-- 3 -->
    <div class="card shadow-sm p-3 mb-5 m-1 bg-body-tertiary rounded" style="width: 18rem;">
      <img src="https://lirp.cdn-website.com/a23f1af3/dms3rep/multi/opt/ThinkstockPhotos-517087242-1920w.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <center>
        <h5 class="card-title">Neapolitan Pizza</h5>
        <p class="card-text">Largely defined by its pillowy and chewy crust, a Neapolitan pizza is more sauce than cheese. It is why the middle of the pizza is generally soggy.</p>
        <a href="./form" class="btn btn-primary">Order</a>
      </center>
      </div>
    </div>
    <!-- 4 -->
    <div class="card shadow-sm p-3 mb-5 m-1 bg-body-tertiary rounded" style="width: 18rem;">
      <img src="https://www.budgetbytes.com/wp-content/uploads/2010/07/11-Topped-Pizza.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <center>
        <h5 class="card-title">California Pizza</h5>
        <p class="card-text">A California pizza is a single-serving pizza that combines the best of Italian and New York thin crust with some non-traditional toppings. </p>
        <a href="./form" class="btn btn-primary">Order</a>
      </center>
      </div>
    </div>
    <!-- 5 -->
    <div class="card shadow-sm p-3 mb-5 m-1 bg-body-tertiary rounded" style="width: 18rem;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROjdmaaSaErxpLU1Bm3-Ni_IFWmzSxYq5-YBjcWs6ISkcmoFL8ikxicWiG2r-hn81InWU&usqp=CAU" class="card-img-top" alt="...">
      <div class="card-body">
        <center>
        <h5 class="card-title">New York Style Pizza</h5>
        <p class="card-text">Made with a significantly large hand-tossed thin crust, the New York-style pizza gets its distinct flavors from the high-gluten bread flour. </p>
        <a href="./form" class="btn btn-primary">Order</a>
      </center>
      </div>
    </div>
    <!-- 6 -->
    <div class="card shadow-sm p-3 mb-5 m-1 bg-body-tertiary rounded" style="width: 18rem;">
      <img src="https://goodcheapeats.com/wp-content/uploads/2023/10/Supreme-pizza-prep-5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <center>
        <h5 class="card-title">Sicilian Pizza</h5>
        <p class="card-text">The original version of a Sicilian pizza comes from Palermo and is called sfincione, which means thick sponge. This pizza is generally thick and has spongy, fluffy bread.</p>
        <a href="./form" class="btn btn-primary">Order</a>
      </center>
      </div>
    </div>
     <!-- 7 -->
     <div class="card shadow-sm p-3 mb-5 m-1 bg-body-tertiary rounded" style="width: 18rem;">
      <img src="https://www.eatthis.com/wp-content/uploads/sites/4/2022/02/veggie-pizza-1.jpg?quality=82&strip=all&w=640" class="card-img-top" alt="...">
      <div class="card-body">
        <center>
        <h5 class="card-title">Greek Pizza</h5>
        <p class="card-text">A Greek pizza is prepared using a metal pan rather than getting stretched my hands and being baked in an oven.)</p>
        <a href="./form" class="btn btn-primary">Order</a>
      </center>
      </div>
    </div>
     <!-- 8 -->
     <div class="card shadow-sm p-3 mb-5 m-1 bg-body-tertiary rounded" style="width: 18rem;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy3EWCGdDMVd4Y2hbXTiUNQ280IM-nFT3h9A&s" class="card-img-top" alt="...">
      <div class="card-body">
        <center>
        <h5 class="card-title">Detroit Pizza</h5>
        <p class="card-text">A Detroit pizza features a thick crust that is chewy and crispy. It is generally rectangular and features smaller portions.</p>
        <a href="./form" class="btn btn-primary">Order</a>
      </center>
      </div>
    </div>

  </div>
</body>
</html>