<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookStore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
  <center>
    <img src="https://images-production.bookshop.org/spree/affiliate_profiles/banner_images/19558/original/BookshipLogoText.jpg?1608671684" alt="" width="500px">
  </center>
  <div class="d-flex flex-wrap m-5">
  <!-- 1 -->
    <div class="card shadow-sm p-3 mb-5 m-1 bg-body-tertiary rounded" style="width: 18rem;">
        <img src="https://cdn.marvel.com/u/prod/marvel/i/mg/1/70/5ae0da3be00ff/standard_xlarge.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <center>
          <h5 class="card-title">AVENGERS</h5>
          <p class="card-text">(2014 - 2015)</p>
          <a href="./bookForm" class="btn btn-primary">Buy</a>
        </center>
        </div>
      </div>
      <!-- 2 -->
    <div class="card shadow-sm p-3 mb-5 m-1 bg-body-tertiary rounded" style="width: 18rem;">
      <img src="https://cdn.marvel.com/u/prod/marvel/i/mg/2/03/5b4369263b124/standard_xlarge.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <center>
        <h5 class="card-title">THE AMAZING SPIDER-MAN</h5>
        <p class="card-text">(2018 - 2022)</p>
        <a href="./bookForm" class="btn btn-primary">Buy</a>
      </center>
      </div>
    </div>
    <!-- 3 -->
    <div class="card shadow-sm p-3 mb-5 m-1 bg-body-tertiary rounded" style="width: 18rem;">
      <img src="https://cdn.marvel.com/u/prod/marvel/i/mg/6/40/54b83921efd20/standard_xlarge.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <center>
        <h5 class="card-title">STAR WARS</h5>
        <p class="card-text">(2015 - 2019)</p>
        <a href="./bookForm" class="btn btn-primary">Buy</a>
      </center>
      </div>
    </div>
    <!-- 4 -->
    <div class="card shadow-sm p-3 mb-5 m-1 bg-body-tertiary rounded" style="width: 18rem;">
      <img src="https://cdn.marvel.com/u/prod/marvel/i/mg/f/e0/575ef3c5ae5ef/standard_xlarge.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <center>
        <h5 class="card-title">MS. MARVEL</h5>
        <p class="card-text">(2015 - 2018)</p>
        <a href="./bookForm" class="btn btn-primary">Buy</a>
      </center>
      </div>
    </div>
    <!-- 5 -->
    <div class="card shadow-sm p-3 mb-5 m-1 bg-body-tertiary rounded" style="width: 18rem;">
      <img src="https://cdn.marvel.com/u/prod/marvel/i/mg/6/90/5637acf4a3719/standard_xlarge.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <center>
        <h5 class="card-title">VISION</h5>
        <p class="card-text">(2015 - 2016)</p>
        <a href="./bookForm" class="btn btn-primary">Buy</a>
      </center>
      </div>
    </div>
    <!-- 6 -->
    <div class="card shadow-sm p-3 mb-5 m-1 bg-body-tertiary rounded" style="width: 18rem;">
      <img src="https://cdn.marvel.com/u/prod/marvel/i/mg/6/d0/5130ff669d4f4/standard_xlarge.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <center>
        <h5 class="card-title">INFINITY GAUNTLET</h5>
        <p class="card-text">(1991)</p>
        <a href="./bookForm" class="btn btn-primary">Buy</a>
      </center>
      </div>
    </div>
     <!-- 7 -->
     <div class="card shadow-sm p-3 mb-5 m-1 bg-body-tertiary rounded" style="width: 18rem;">
      <img src="https://cdn.marvel.com/u/prod/marvel/i/mg/f/60/542c663fbcded/standard_xlarge.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <center>
        <h5 class="card-title">BLACK WIDOW</h5>
        <p class="card-text">(2014 - 2015)</p>
        <a href="./bookForm" class="btn btn-primary">Buy</a>
      </center>
      </div>
    </div>
     <!-- 8 -->
     <div class="card shadow-sm p-3 mb-5 m-1 bg-body-tertiary rounded" style="width: 18rem;">
      <img src="https://cdn.marvel.com/u/prod/marvel/i/mg/9/03/5192733360ce9/standard_xlarge.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <center>
        <h5 class="card-title">ETERNALS</h5>
        <p class="card-text">(2006 - 2011)</p>
        <a href="./bookForm" class="btn btn-primary">Buy</a>
      </center>
      </div>
    </div>

  </div>
</body>
</html>